POSTGRES_USER=attenx_user
POSTGRES_PASSWORD=attenx_password
POSTGRES_DB=attenx_db
DB_URL=jdbc:postgresql://localhost:5432/attenx_db

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET=replace_this_with_a_very_long_secure_secret_key_in_production

AI_SERVICE_URL=http://localhost:8000
